/*navbar*/
.nav {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  padding-top: 0px;
  border-bottom: solid gray 0.01em;
  list-style: none;

  width: 100%;
  text-align: center;


}
/*navbar title and icon aligment*/
ul li span {
    display: block;
}

html {
  font-size: 100%; }

#button{
  margin-top: 3%
}




/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 17px; */
}

.card {
  margin-top: 3%;
}


