/*navbar*/
.nav {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  padding-top: 0px;
  border-bottom: solid gray 0.01em;
  list-style: none;

  width: 100%;
  text-align: center;


}
/*navbar title and icon aligment*/
ul li span {
    display: block;
}


body{
	  font-size: 250%;

}